/* Link colors */
a:link {
  background-color: #f0f8ff; /* Unvisited */
  color: navy;
}

a:hover {
  background-color: #ffe4e1; /* Hover */
  text-decoration: none;
}

a:visited {
  background-color: #e6e6fa; /* Visited */
  color: purple;
}
}